<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
	<title>百度音乐移动版</title>
	<link rel="stylesheet" type="text/css" href="./stylesheets/css/stylesheet.css">
	<link rel="stylesheet" href="./stylesheets/css/swiper.min.css">
</head>
<body>
	<header id="header">
		<div class="bar">
			<div class="left"></div>
			<div class="title">百度音乐</div>
			<div class="right">
				<span class="btn-user"></span>
				<div class="search">
					<div class="search-icon"></div>
					<div class="searchinput">搜歌曲</div>
				</div>
			</div>
		</div>
		<div class="nav-wrap">
				<ul class="sub-nav">
					<li class="url-on">推荐</li>
					<li class="url">分类</li>
					<li class="url">歌手</li>
					<li class="url">歌单</li>
					<li class="url">MV</li>
					<li class="url">乐播</li>
				</ul>
			</div>
	</header>
	<div id="main">
		<div class="layout-home" style="display: block;">
			<div class="content">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide" id="homeSlider"><img src="./stylesheets/img/slider1.jpg"></div>
        				<div class="swiper-slide" id="homeSlider"><img src="./stylesheets/img/slider2.jpg"></div>
        				<div class="swiper-slide" id="homeSlider"><img src="./stylesheets/img/slider3.jpg"></div>
        				<div class="swiper-slide" id="homeSlider"><img src="./stylesheets/img/slider4.jpg"></div>
        				<div class="swiper-slide" id="homeSlider"><img src="./stylesheets/img/slider5.jpg"></div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
				<div class="mod-searchs">
					<div class="hd">
						<h2>实时热歌</h2>
						<div>4分钟前更新</div>
					</div>
					<div class="container">
						<div class="search-item">
							<span class="item">Bob Dylan</span>
							<span class="item">儿歌</span>
							<span class="item">从你的全世界路过</span>
							<span class="item">王菲</span>
							<span class="item">董小姐</span>
							<span class="item">微微一笑很倾城</span>
							<span class="item">齐豫</span>
							<span class="item">Aimer</span>
						</div>
					</div>
				</div>
				<div class="mod-albums">
					<div class="hd">
						<h2>新碟上架</h2>
					</div>
					<div class="container">
							<div class="gallery">
								<div class="card">
									<div class="album">
										<img src="./stylesheets/img/album1.jpg" alt="你是否一样">
									</div>
									<div class="name">你是否一样</div>
									<div class="author">张伦硕</div>
								</div>
								<div class="card">
									<div class="album">
										<img src="./stylesheets/img/album2.jpg" alt="公主披风">
									</div>
									<div class="name">公主披风</div>
									<div class="author">SHN48</div>
								</div>
								<div class="card">
									<div class="album">
										<img src="./stylesheets/img/album3.jpg" alt="额尔古纳">
									</div>
									<div class="name">额尔古纳</div>
									<div class="author">陈泓宇</div>
								</div>
								<div class="card">
									<div class="album">
										<img src="./stylesheets/img/album4.jpg" alt="心时纪 · 大型国风主题演唱会">
									</div>
									<div class="name">心时纪 · 大型国风主题演唱会</div>
									<div class="author">华语群星</div>
								</div>
							</div>
						</div>
					</div>
					<div class="mod-lists">
						<div class="hd">
							<h2>音乐榜单</h2>
							<div id="more">
								更多
								<i></i>
							</div>
						</div>
						<div class="bars">
							<div class="bar2 on">
								热歌榜
								<span class="gap-line"></span>
							</div>
							<div class="bar2">
								新歌榜
								<span class="gap-line"></span>
							</div>
							<div class="bar2">
								King榜
							</div>
						</div>
						<div class="board panels">
							<div class="panel hotsongs on">
							<ul class="list">
								<li class="song">
									<div class="poster">
										<img src="./stylesheets/img/poster1.jpg" alt="演员">
										<i>01</i>
									</div>
									<div class="icon-trend"></div>
									<div class="info">
										<div class="info-name">
											演员
											<span class="icon-sq"></span>
										</div>
										<div class="icon-author">薛之谦</div>
									</div>
									<div class="download"></div>
								</li>
								<li class="song">
									<div class="poster">
										<img src="./stylesheets/img/poster2.jpg" alt="你在终点等我">
										<i>02</i>
									</div>
									<div class="icon-trend"></div>
									<div class="info">
										<div class="info-name">
											你在终点等我
											<span class="icon-sq"></span>
										</div>
										<div class="icon-author">王菲</div>
									</div>
									<div class="download"></div>
								</li>
								<li class="song">
									<div class="poster">
										<img src="./stylesheets/img/poster3.jpg" alt="微微一笑很倾城">
										<i>03</i>
									</div>
									<div class="icon-trend"></div>
									<div class="info">
										<div class="info-name">
											微微一笑很倾城
											<span class="icon-sq"></span>
										</div>
										<div class="icon-author">杨洋</div>
									</div>
									<div class="download"></div>
								</li>
								<li class="song">
									<div class="poster">
										<img src="./stylesheets/img/poster4.jpg" alt="夜空中最亮的星">
										<i>04</i>
									</div>
									<div class="icon-trend"></div>
									<div class="info">
										<div class="info-name">
											夜空中最亮的星
											<span class="icon-sq"></span>
										</div>
										<div class="icon-author">邓紫棋</div>
									</div>
									<div class="download"></div>
								</li>
								<li class="song">
									<div class="poster">
										<img src="./stylesheets/img/poster5.jpg" alt="寂寞的人伤心的歌">
										<i>05</i>
									</div>
									<div class="icon-trend"></div>
									<div class="info">
										<div class="info-name">
											寂寞的人伤心的歌
											<span class="icon-sq"></span>
										</div>
										<div class="icon-author">龙梅子，杨海彪</div>
									</div>
									<div class="download"></div>
								</li>
							</ul>
						    </div>
						    <!--newsongs kinsongs -->
						    <div class="more-songs">查看该榜单>></div>
						</div>
					</div>
					<div class="mod-rebo">
						<a class="hd" href="">
							<h2>热播节目</h2>
							<div id="more">
								更多
								<i></i>
							</div>
						</a>
						<div class="container">
							<div class="rebo-item">
								<a href="">
									<img src="./stylesheets/img/rebo1.jpg" alt="图片">
									<div class="title">百度音乐新歌榜</div>
								</a>
							</div>
							<div class="rebo-item">
								<a href="">
									<img src="./stylesheets/img/rebo2.jpg" alt="图片">
									<div class="title">吐槽疗养院</div>
								</a>
							</div>
							<div class="rebo-item">
								<a href="">
									<img src="./stylesheets/img/rebo3.jpg" alt="图片">
									<div class="title">夜的私房话</div>
								</a>
							</div>
						</div>
					</div>
					<div class="mod-songlists">
						<div class="hd">
							<h2>音乐歌单</h2>
							<div id="more">
								更多
								<i></i>
							</div>
						</div>
						<div class="container">
							<ul class="list">
								<li class="">
									<div class="poster">
										<img src="./stylesheets/img/songlist1.jpg" alt="可以循环的幸福，婚礼暖场专用">
										<span class="btn-play play-mini"></span>
									</div>
									<div class="info">
										<div class="name">可以循环的幸福，婚礼暖场专用</div>
										<div class="detail">
											<div class="tags">
												<span>华语</span>
												<span>浪漫</span>
												<span>婚礼</span>
											</div>
											<div class="ting-num">
												<i></i>
												<span>9716</span>
											</div>
										</div>
									</div>
									<div class="icon-arr"></div>
								</li>
								<li class="">
									<div class="poster">
										<img src="./stylesheets/img/songlist2.jpg" alt="为了见你一面，我翻山越岭">
										<span class="btn-play play-mini"></span>
									</div>
									<div class="info">
										<div class="name">为了见你一面，我翻山越岭</div>
										<div class="detail">
											<div class="tags">
												<span>粤语</span>
												<span>流行</span>
												<span>感动</span>
											</div>
											<div class="ting-num">
												<i></i>
												<span>8823</span>
											</div>
										</div>
									</div>
									<div class="icon-arr"></div>
								</li>
								<li class="">
									<div class="poster">
										<img src="./stylesheets/img/songlist3.jpg" alt="愿你在努力的道路上奋勇前行">
										<span class="btn-play play-mini"></span>
									</div>
									<div class="info">
										<div class="name">愿你在努力的道路上奋勇前行</div>
										<div class="detail">
											<div class="tags">
												<span>华语</span>
												<span>流行</span>
												<span>励志</span>
											</div>
											<div class="ting-num">
												<i></i>
												<span>5099</span>
											</div>
										</div>
									</div>
									<div class="icon-arr"></div>
								</li>
								<li class="">
									<div class="poster">
										<img src="./stylesheets/img/songlist4.jpg" alt="欧美小清新，客官不来点儿">
										<span class="btn-play play-mini"></span>
									</div>
									<div class="info">
										<div class="name">欧美小清新，客官不来点儿</div>
										<div class="detail">
											<div class="tags">
												<span>欧美</span>
												<span>流行</span>
												<span>清新</span>
											</div>
											<div class="ting-num">
												<i></i>
												<span>4399</span>
											</div>
										</div>
									</div>
									<div class="icon-arr"></div>
								</li>
								<li class="">
									<div class="poster">
										<img src="./stylesheets/img/songlist5.jpg" alt="秋天，免不了的矫情">
										<span class="btn-play play-mini"></span>
									</div>
									<div class="info">
										<div class="name">秋天，免不了的矫情</div>
										<div class="detail">
											<div class="tags">
												<span>华语</span>
												<span>流行</span>
												<span>伤感</span>
											</div>
											<div class="ting-num">
												<i></i>
												<span>5201</span>
											</div>
										</div>
									</div>
									<div class="icon-arr"></div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="load-more">查看更多...</div>
		<div class="tl">
			<a href="http://music.baidu.com/data/location?from=webappwzl&amp;link=http://itunes.apple.com/cn/app/bai-duting/id468623917?mt=8" class="tl-item" data-log="{&quot;pos&quot;:&quot;wenzi&quot;,&quot;caldl&quot;:0}">手机必备音乐播放器，免费下载</a>
			<div class="ok tl-item">
				<div class="sc-ctn">
					<a href="http://music.baidu.com/data/location?link=http%3A%2F%2Fitunes.apple.com%2Fcn%2Fapp%2Fid468623917%3Ffr%3Ddingbu" class="ok-a">海量MV视频，即点即看</a>
					<a href="" class="ok-a">K歌神器，自带声音美化</a>
					<a href="" class="ok-a">海量MV视频，即点即看</a>
				</div>
			</div>
		</div>
	</div>
	<footer id="footer">
		<a href="http://fm.baidu.com/?pst=music_webapp">随心听</a>
		<a href="http://music.baidu.com/data/location?link=https%3A%2F%2Fitunes.apple.com%2Fcn%2Fapp%2Fid468623917%3Fpt%3D328057%26ct%3Dwebapp%26mt%3D8&type=bottom">下载客户端</a>
		<a href="https://itunes.apple.com/cn/app/bai-du-le-bo-ting-xiao-shuo/id956391561?mt=8">笑话APP</a>
		<a href="#/feedback">意见反馈</a>
	</footer>
	<script type="text/javascript" src="./stylesheets/js/rem.js"></script>
	<script src="./stylesheets/js/swiper.min.js"></script>
	<script>
		var mySwiper = new Swiper ('.swiper-container', {
    		autoplay : 3000,
    		pagination: '.swiper-pagination',
            paginationClickable: true,
    		freeMode : false
  		})        
	</script>
</body>
</html>